<div class="container-about-us">
    <h2>Sobre Nosotros</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio incidunt amet assumenda consequuntur facere sit officiis voluptas, ipsa nisi cumque laboriosam hic aliquam architecto veritatis inventore culpa eius! Quibusdam magnam natus delectus earum alias numquam consectetur et sequi temporibus. Placeat dolorem assumenda numquam vel, eos perspiciatis iusto facilis, ipsam aperiam voluptas vitae asperiores quidem delectus, temporibus vero exercitationem facere laudantium veritatis voluptatem earum fugiat. Aliquid sequi atque deserunt ducimus expedita id amet ex, commodi repellendus nesciunt neque, architecto sit esse ut quis dicta eius nobis. Cupiditate pariatur, sit excepturi voluptatem perspiciatis architecto, necessitatibus eum aliquam iure assumenda ab quos amet!</p>
</div>

