<div class="container">
    <div class="row around-sm">
        <div class="col-xs-12 col-sm-3 center-xs">
            <h2>CONT&Aacute;CTENOS</h2>
            <p>Platzi Store <br> Direcci&oacute;n: Calle Falsa 123 <br> Oficinas: 101, 102 y 103
            <br> PBX: 1234567 Ext. 101 <br> Centro Empresarial 123 <br> Bogot&aacute;, Colombia</p>
        </div>
        <div class=" form col-xs-12 col-sm-3 center-xs">
            <h3>CONT&Aacute;CTENOS</h3>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Apellido</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Ex. micorreo@domain.com">
            </mat-form-field> 
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Tel&eacute;fono</mat-label>
                <input matInput placeholder="Ex. 3010000000">
            </mat-form-field> 
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>City</mat-label>
                <input matInput placeholder="Ex. Bogot&aacute;">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Comentarios</mat-label>
                <textarea matInput placeholder="Ex. Deja tu comentario, duda o inquietud"></textarea>
              </mat-form-field>
            <br>
            <button mat-raised-button color="accent">Contactar</button>
        </div>
    </div>
</div>
