<router-outlet></router-outlet>
<input type="text" [(ngModel)]="title">

<input type="text" [(ngModel)]="power">
{{ power | exponential}}

<div *ngIf='title === "Ingrid"'>
    Esta soy yo Ingrid
</div>
<div [ngSwitch]="title">
    <p *ngSwitchCase="'Nicolas'">Este es Nicolas</p>
    <p *ngSwitchCase="'Julia'">Este es Julian</p>
    <p *ngSwitchCase="'Liliana'">Esta es Liliana</p>
    <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">Agregar item</button>
<ul>
    <li *ngIf="items.length == 0">Lista vacia</li>
    <li *ngFor="let name of items; index as i">
        {{ name }} {{i}}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>

<div class="product-grid">
    <app-product 
        *ngFor="let product of products" 
        (productClicked)="clickProduct($event)" 
        [product]="product">
    </app-product> <!-- Componente que rendeeriza un producto -->
</div>